@import "tailwindcss";

@font-face {
  font-family: 'Font1';
  src: url('/font/font1.woff2');
}
@font-face {
  font-family: 'Font2';
  src: url('/font/font2.woff2');
}
@font-face {
  font-family: 'Font3';
  src: url('/font/font3.woff2');
}
